@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');

.food_types{
    margin-top: 5px;
    margin-bottom: 5px;
}  

.food_types .card-title{
    font-family: 'Acme', sans-serif;
    font-size: 22px;
    text-transform: uppercase;
    font-weight: 800;
}

.spinner-border {
    top: 200px !important;
    left: 48% !important;
    position: relative !important;
    width: 5rem  !important;
    height: 5rem !important;
}

.top-bar{
    padding-top: 10px;
    margin-bottom: 20px;
}

.top-bar select{
    height: 35px;
    width: 100%;
    font-weight: 500;
    text-transform: capitalize;
}

.top-bar img{
    height: 60px;
    margin-top: -14px;
}

.logo{
    font-family: 'Acme', sans-serif;
    font-size: 24px;
    text-transform: lowercase;
    font-weight: 800;
    padding-left: 11px;

}

.jumbotron {
    background-color: #28a745 !important;
    height: 500px;
}

.jumbotron .top-bar {
    padding-top: unset;
    margin-bottom: unset;
    margin-top: -40px;
}

.jumbotron img{
    border-radius: 33px;
}

.jumbotron .top-bar .logo{
    color: #fff;
}

.details_row h1{
    font-family: 'Acme', sans-serif;
    color: #fff;
    margin-top: 100px;
    text-transform: uppercase;
    font-weight: 800;
}

.details_row span{
    font-family: 'Acme', sans-serif;
    color: #fff;
    margin-top: 100px;
    text-transform: capitalize;
    font-weight: 500;
    font-size: 35px;
}

.details_row img{
    height: 270px;
    width: 100%;
}